export(hisayama)
export(suita_wECG)
export(suita_woECG)
export(epoch_chd)
export(epoch_stroke)
export(epoch_cvd)
export(jals_stroke_wECG)
export(jals_stroke_woECG)
export(jals_ami_wECG)
export(jals_ami_woECG)
export(jals_composite_wECG)
export(jals_composite_woECG)
export(jals_cvd_wECG)
export(jals_cvd_woECG)

importFrom(stats, setNames)
